.container {
    text-align: center;
    padding: 10px;
}

#search-heading {
    padding-top: 10px;
}

.container-fluid {
    margin-top: 10px;
}

.search-section {
    background-color: lightblue;
}

.search-section{
    background-color:	#D3D3D3;
}

.list-group-item{
    line-height: 0.5;
    border: none;
}

.card-body{
    flex:auto
}

/* #cards {
    margin-top: 10px;
} */

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 576px) {
    .navbar-brand {
        padding: 0 auto;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        padding: 0 auto;
        width: 100%;
        text-align: center;
    }
} 